@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");

body {
  color: white;
  text-align: start;
  background-color: black;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
}
.title img {
  width: 40px;
  margin-right: 15px;
}
.title {
  width: 100%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.title h1 {
  display: inline-block;
  font-size: 16px;
  font-family: monospace;
  font-weight: 300;
  color: rgb(198, 191, 216);
  border-right: 7px solid;
  overflow: hidden;
}
.container {
  padding: 5px;
  margin-top: 30px;
  /* width: 290px;
  height: 500px; */
  min-width: calc(100vw - 25%);
  max-width: 290px;
  height: 500px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  display: grid;
  border-radius: 15px;
  background: rgba(128, 128, 128, 0.083);
  box-shadow: 3px 3px 7px #271f3121, -3px -3px 7px #2b272f25;
  margin: 0 auto;
  text-align: center;
}

#reveal {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  width: 250px;
  height: 50px;
  border-radius: 10px;
}
.head {
  text-align: left;
  font-size: 12px;
}
.head .hround {
  border: 0.1px rgba(128, 128, 128, 0.276) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgba(240, 248, 255, 0.057);
  width: 70px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
}
.ops {
  text-align: left;
  font-size: 12px;
}
.container hr {
  width: 250px;
  height: 0.5px;
  border: none;
  background-color: rgba(128, 128, 128, 0.111);
}
.chat-head {
  width: 100%;
  height: 50px;
  background-color: rgba(240, 248, 255, 0.079);
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 0 0;
}
.area {
  background-color: rgb(12, 12, 12);
  border-radius: 10px;
  min-width: calc(100vw - 10%);
  min-height: calc(100vh - 150px);
  padding: 10px;
}
.typewriter {
  color: whitesmoke;
  font-family: "Roboto Mono", monospace;
  border-right: 0.15em solid #1e1e1e;
}
.control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  margin-top: 5px;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  background-color: transparent;
}
.control input {
  font-family: monospace;
  padding-left: 10px;
  color: whitesmoke;
  width: 100%;
  height: 70px;
  background-color: rgba(128, 128, 128, 0.185);
  border: solid 1px rgba(128, 128, 128, 0.185);
  border-radius: 10px;
}
@keyframes letters {
  from {
    left: 0;
  }
  to {
    left: 50ch;
  }
}
@keyframes lines {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@keyframes cursor-type {
  50% {
    border-color: orangered;
  }
}
@keyframes cursor-wait {
  0% {
    box-shadow: inset 2px 0 0 0 rgba(0, 0, 0, 0);
  }
  1% {
    box-shadow: inset 2px 0 0 0 black;
  }
  40% {
    box-shadow: inset 2px 0 0 0 black;
  }
}
@supports (width: 1ch) {
  .type:before,
  .type:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    height: 1.2em;
    width: 100%;
    background-color: rgb(12, 12, 12);
  }
  .type:before {
    border-left: 2px solid transparent;
    top: 100%;
    animation-name: letters, lines, cursor-type, cursor-wait;
    animation-fill-mode: both, both, both, backwards;
  }
  .type:after {
    content: "";
    height: 100%;
    top: 100%;
    left: 0;
    margin-top: 1.2em;
  }
}
